<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ucsf.checkin.12pm</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/anderiesbarrett/Documents/GitHub/Automations/conference-sign-in/venv/bin/python</string>
        <string>/Users/anderiesbarrett/Documents/GitHub/Automations/conference-sign-in/checkin.py</string>
        <string>--time</string>
        <string>12PM</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/anderiesbarrett/Documents/GitHub/Automations/conference-sign-in</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <!-- Run at 12:05 PM, Monday-Friday -->
        <key>Hour</key>
        <integer>12</integer>
        <key>Minute</key>
        <integer>5</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/tmp/checkin-12pm.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/checkin-12pm.log</string>
</dict>
</plist>
